.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.sideContainer
{
  border: 1px solid white;
  padding: 1em;
  display: flex;
  justify-content: center;
  max-width: 60vh;
}

.messagesContainer
{
  height: 90vh;

  border: 1px solid white;

  padding: 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.tabsContainer, .channelList
{
  padding: 0.5em;
  text-align: center;
}

.main
{
  display: flex;
}

.newServerForm
{
  background-color: darkgray;
  padding: 1em;
  border-radius: 0.5em;
  text-align: center;
}

.serverCard
{
  
  border-radius: 0.5em;
  padding: 5px;
  margin: 0.5em;
}

/* The following code is taken from the internet */
.messagesDisplay
{
    padding: 10px;
    max-height: 400px;
    overflow-y: auto;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.message
{
    margin: 10px 0;
    padding: 8px;
    border-radius: 5px;
    background-color: #004464;
}

.messageHeader
{
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    color: #46ffa3;
}

.user
{
    font-weight: bold;
}

.timestamp
{
    color: #999;
}

.messageText
{
    margin-top: 5px;
}

/* end of internet code */

.textInput
{
  display: flex;
  width: 100%;
  gap: 1em;
}

.textInput input
{
  width: 100%;
}

.messageDisplay
{
  height: 100%;
}